@model List<string>
@{
    Layout = null;
}

@{
    ViewData["Title"] = "Home Page";
}

<div>

    <label>PAra Birimi seçiniz:</label>
</div>
<div>
    <select name="excahnge">
        @foreach (var exchng in Model)
        {
            <option>@exchng</option>
        }
    </select>
</div>